.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #FFDD00;
}

h1 {
    color: #000;
}

button {
    background-color: #FF3333;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#jokeContainer {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.centered-image {
    display: block;
    margin: 20px auto;
    max-width: 50%;
    height: auto;
}